<html>
<head>
	<title>Example</title>
	<script type="text/javascript" src="js/require.js"></script>
	<script type="text/javascript">
		require.config({
			baseUrl: 'js',
			paths: {
				jquery: 'jquery-1.10.1.min'
			}
		});

		require(['jfw.model', 'jfw.control', 'jfw.route'], function(fw){
			window.fw = fw;
			window.mod = fw.Model({
				findOne: 'GET /auth/login/{:id}/{:login}',
				findAll: 'POST /auth/find_all',
			});
			fw.Model.fixture('GET /auth/login/{:id}/{:login}', function(){ return { success: true } } );
			fw.Model.fixture('POST /auth/find_all', function(){ return { data: [
				{ id: 1 },
				{ id: 2 },
				{ id: 3 }
			] } } );
			mod.findOne({ id: 1 }, function(data){
				var user = new mod(data);
				console.log(user);
			});
			mod.findAll({ name: 'test' }, function(data){
				var users = new fw.List(data);
				console.log(users);
			});
			// var test = function() {
			// 	var t1 = new Date();
			// 	for (var i = 0; i < 1000000; i++) mod.findOne({ id: 1, login: 'test' }, function() { } );
			// 	var t2 = new Date();
			// 	document.write(+t2 - +t1);
			// }
			// test();


		});
	</script>
</head>
<body>
	<div id="ttt"></div>
</body>
</html>

<script type="text/ejs" id="list_tmp">
	<ul>
		<% for(var i in data_list) { %>
		<li><a href="#test/<%= data_list[i].id %>">Test <%= data_list[i].name %></a></li>
		<% } %>
	</ul>
</script>

<script type="text/javascript">
	// fw.route.add('test/([0-9]+)', function(param){
	// 	console.log(param);
	// });

	// var Menu = fw.Control({
	// 	init: function() {
	// 		this.append(fw.view('list_tmp', { data_list: [
	// 			{ id: 1, name: '111' },
	// 			{ id: 2, name: '222' },
	// 			{ id: 3, name: '333' }
	// 		] }));
	// 	},
	// 	'li a click': function() {
	// 		console.log('a click');
	// 	},
	// 	'li a mousemove': function() {
	// 		console.log('a move');
	// 	}
	// });

	// var m = new Menu('#ttt');

	// var Data = fw.Model({
	// 	findAll: 'GET ./data/alldata.json',
	// 	findOne: 'GET ./data/{:id}.json',
	// 	create: 'POST ./data/new.json',
	// 	update: 'POST ./data/update_{:id}.json',
	// 	destroy: 'GET ./data/remove_{:id}.json'
	// });

</script>