<html>
<head>
	<title></title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script type="text/javascript" src="js/history.js"></script>
	<script type="text/javascript" src="js/ejs.js"></script>
	<script type="text/javascript" src="js/jfw.core.js"></script>
	<script type="text/javascript" src="js/jfw.route.js"></script>
	<script type="text/javascript" src="js/jfw.view.js"></script>
	<script type="text/javascript" src="js/jfw.control.js"></script>
	<script type="text/javascript" src="js/jfw.model.js"></script>
</head>
<body>
	<div id="ttt"></div>
</body>
</html>

<script type="text/ejs" id="list_tmp">
	<ul>
		<% for(var i in data_list) { %>
		<li><a href="#test/<%= data_list[i].id %>">Test <%= data_list[i].name %></a></li>
		<% } %>
	</ul>
</script>

<script type="text/javascript">
	fw.route.add('test/([0-9]+)', function(param){
		console.log(param);
	});

	var Menu = fw.Control({
		init: function() {
			this.append(fw.view('list_tmp', { data_list: [
				{ id: 1, name: '111' },
				{ id: 2, name: '222' },
				{ id: 3, name: '333' }
			] }));
		},
		'li a click': function() {
			console.log('a click');
		},
		'li a mousemove': function() {
			console.log('a move');
		}
	});

	var m = new Menu('#ttt');
</script>